[gui]
	recentrepo = C:/Users/ashwa/java
	recentrepo = C:/Users/ashwa/Ashwani singh
	recentrepo = C:/Users/ashwa/Ashwani
[user]
	name = Thakurashwani
	email = thakur.ash285@e mail.com
[merge]
	tool = Ashwani
	summary = true
